/* Globals */
:root {
  --white: #ffffff;
  --black: #000000;
  --lightGray: #F8F9FA;
}

html {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

*,
* {
  box-sizing: inherit;
}

body,
body * {
  margin: 0;
  padding: 0;
  border: 0;

}

h1,
h2,
h3,
p,
a,
label,
li {
  color: var(--white);
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.hr__width {
  width: 90%;
}

.container-property {
  max-width: 1200px;
  margin: 0 auto;
}

/* Nav */

nav {
  z-index: 1000;
}

.logo-img {
  width: 1.5rem;
  /* background-color: transparent !important;
  box-shadow: none !important; */
}

.navbar {
  transition: background-color 0.3s ease;
}

.bg-opacity {
  background-color: var(--black);
  opacity: 90%;
}

/* Hero */

.bg-section {
  background-color: var(--black);
}

/* About-us */

.card-image {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 170px;
}